html, body {
  background-color: #e7e7e7;
}

.center {
  margin: 0px auto;
  max-width: 480px;
}

section.section {
  padding-top: 3rem !important;
}

.new-appointment-btn {
  padding-top: 2rem;
}

.doctor-selector, .other-selectors {
  visibility: hidden;
}